<p id="notice"><%= notice %></p>

<h1>Prodcuts</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Description</th>
      <th>Brand</th>
      <th>Rating</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prodcuts.each do |prodcut| %>
      <tr>
        <td><%= prodcut.name %></td>
        <td><%= number_to_currency(prodcut.price, :precision => (prodcut.price.round == prodcut.price) ? 0 :2) %></td>
        <td><%= prodcut.quantity %></td>
        <td><%= prodcut.description %></td>
        <td><%= prodcut.brand %></td>
        <td><%= prodcut.rating %></td>
        <td><%= prodcut.category.name %></td>
        <td><%= link_to 'Show', prodcut %></td>
        <td><%= link_to 'Edit', edit_prodcut_path(prodcut) %></td>
        <td><%= link_to 'Destroy', prodcut, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prodcut', new_prodcut_path %>
