<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @prodcut.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@product.price, :precision => (@product.price.round == @product.price) ? 0:2) %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @prodcut.quantity %>
</p>

<p>
  <strong>Description:</strong>
  <%= @prodcut.description %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @prodcut.brand %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @prodcut.rating %>
</p>

<p>
  <strong>Category:</strong>
  <%= @prodcut.category.name%>
</p>

<p>
  <% image_tag @product.image, size: 200 %>
</p>

<%= link_to 'Edit', edit_prodcut_path(@prodcut) %> |
<%= link_to 'Back', prodcuts_path %>
